<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book API</title>
</head>
<body>
<form th:action="@{/bookAPI}" method="GET">
    <button name="logoutBtn"  type="submit" class="btn btn-success">LogOut</button>
</form>
<form th:action="@{/bookAPI}" method="GET">
    <button name="backBtn"  type="submit" class="btn btn-success">Bck to view</button>
</form>
<div>
    <span style="color:#FF0000;" th:text="${errorMessage3}"></span>
</div>
<div>
    <form th:action="@{/bookAPI}" method="GET">
        <div>Title  <input name="title" th:object="${title}"  type="text" /></div>
        <button name="searchTitleBtn"  type="submit" class="btn btn-success">Search by tittle</button>
    </form>
</div>

<div>
    <form th:action="@{/bookAPI}" method="GET">
        <div>Author  <input name="author" th:object="${author}"  type="text" /></div>
        <button name="searchAuthorBtn"  type="submit" class="btn btn-success">Search by author</button>
    </form>
</div>

<div>
    <form th:action="@{/bookAPI}" method="GET">
        <div>Subject  <input name="subject" th:object="${subject}"  type="text" /></div>
        <button name="searchSubjectBtn"  type="submit" class="btn btn-success">Search by subject</button>
    </form>
</div>

<div>
    <form th:action="@{/bookAPI}" method="POST">
        <div>ID <input name="id" th:object="${id}"  type="number" /></div>
        <button name="addToDatabaseBtn"  type="submit" class="btn btn-success">Add to database</button>
        <table>
            <tr>
                <td >ID</td>
                <td >Title</td>
                <td>Author</td>
                <td>Genre</td>
                <td >Price</td>
            </tr>
            <tbody>
            <tr th:each="book3 : ${ bookList }">
                <td th:text="${ book3.id }">ID</td>
                <td th:text="${ book3.title }">Title</td>
                <td th:text="${ book3.author}">Author</td>
                <td th:text="${ book3.genre }">Genre</td>
                <td th:text="${ book3.price }">Price</td>
            </tr>

            </tbody>
        </table>

    </form>
</div>

</body>
</html>